<nav class="navbar navbar-expand-lg">
	<div class="container">
		<a class="navbar-brand" href="{% url 'index' %}">Alex Towe</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
		<div class="navbar-nav">
			{% if pages %}
				{% for page in pages %}
					<a class="nav-link" href="{% url page.url %}">{{ page.title }}</a>
				{% endfor %}
			{% else %}
			<a class="nav-link" href="{% url 'index' %}">No Links</a>
			{% endif %}
		</div>
		</div>
	</div>
</nav>