<!-- Title -->
<section id="title" class="bg-light text-dark py-5">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h1 class="display-4">{{ page.title }}</h1>
				<p class="lead">{{ page.title }}</p>
			</div>
		</div>
	</div>
</section>

<!-- Breadcrumbs -->
<section id="bc" class="bg-light text-dark p-2 mb-4">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb m-0">
				<li class="breadcrumb-item">
					<a href="{% url 'index' %}" class="text-dark">
					<i class="fas fa-home"></i> Home</a>
				</li>
				<li class="breadcrumb-item active">{{ page.title }}</li>
			</ol>
		</nav>
	</div>
</section>
